.env
.nuxt
.output
node_modules
backup/
db/01_schema.sql
db/02_seed.sql
db/DATABASE.md
doc/00-overview.md
doc/01-setup-podman-postgres.md
doc/02-init-nuxt-project.md
doc/03-database-layer-drizzle.md
doc/04-auth-rbac.md
doc/05-master-data-admin.md
doc/06-leave-request-flow.md
doc/07-rule-engine.md
doc/08-approval-engine.md
doc/09-scheduler-reminder-escalation.md
